<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cn.mapper.TblOrderMapper">
	<select id="selectCountPageFun" parameterType="tblOrderQuery" resultType="int">
		select count(*) from tbl_order de, tbl_goods tg, tbl_order_detailed od,tbl_goodstype_detailed gd where od.goodsID = tg.goodsID and de.orderID = od.orderID and gd.detailedTypeID = tg.detailedTypeID
	</select>
	<select id="selectByCondtionPageFun" parameterType="tblOrderQuery" resultType="tblOrderQuery">
		select top ${pageSize} * from tbl_order de, tbl_goods tg, tbl_order_detailed od,tbl_goodstype_detailed gd where od.goodsID = tg.goodsID and de.orderID = od.orderID and gd.detailedTypeID = tg.detailedTypeID 
 and de.orderID not in(select top ${startNum} de.orderID from tbl_order de, tbl_goods tg, tbl_order_detailed od,tbl_goodstype_detailed gd where od.goodsID = tg.goodsID and de.orderID = od.orderID and gd.detailedTypeID = tg.detailedTypeID)
	</select>

	<update id="updateGrant">
		update tbl_order set orderState = 1 where orderID = #{orderID}
	</update>

	<resultMap type="tblOrder" id="tblOrderBean">
		<id column="orderID" property="orderID" />
		<result column="customerName" property="customerName"/>
		<result column="orderAddress" property="orderAddress"/>
		<result column="orderPhone" property="orderPhone"/>
		<result column="orderAddressee" property="orderAddressee"/>
		<result column="totalMoney" property="totalMoney"/>
		<result column="orderDate" property="orderDate"/>
		<result column="orderState" property="orderState"/>
        <collection property="orderdetail" ofType="tblOrderDetail">
        	<id column="orderID" property="orderID" />
        	<id column="goodsID" property="goodsID" />
        	<result column="orderPrice" property="orderPrice"/>
        	<result column="goodCount" property="goodCount"/>
        	<association property="tblGoods" javaType="tblGoods">
        		<id column="goodsID" property="goodsID" />
        		<result column="goodsName" property="goodsName"/>
        		<result column="goodsImageUrl" property="goodsImageUrl"/>
            </association>
        </collection>
    </resultMap>
	<select id="selectAllByName" parameterType="String" resultMap="tblOrderBean">
		select * from tbl_order de, tbl_goods tg, tbl_order_detailed od where od.goodsID = tg.goodsID and de.orderID = od.orderID and customerName=#{customerName}
	</select>
	<select id="selectByorderStateByName" parameterType="tblOrderQuery" resultMap="tblOrderBean">
		select * from tbl_order de, tbl_goods tg, tbl_order_detailed od where od.goodsID = tg.goodsID and de.orderID = od.orderID
		and customerName=#{customerName} and orderState=#{orderState}
	</select>
	
	<insert id="insertOrderFun" parameterType="tblOrderQuery">
		insert into tbl_order
		values(#{customerName},#{orderAddress},#{orderPhone},#{orderAddressee},#{totalMoney},#{orderDate},#{orderState})
	</insert>
	<select id="selectOredeIDByNewestOrderDate" parameterType="String" resultType="int">
		select top 1 orderID from tbl_order order by orderDate desc;
	</select>
	<insert id="insertOrederDetailFun" parameterType="tblOrderQuery">
		insert into tbl_order_detailed
		values(#{orderID},#{goodsID},#{orderPrice},#{goodCount})
	</insert>
	<update id="c_updateStateFun" parameterType="int">
		update tbl_order set orderState=2 where orderID = #{orderID}
	</update>
</mapper>