<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cn.mapper.TblShopcartMapper">
	<delete id="removeByshopcartIDFun" parameterType="int">
		delete from tbl_shopcart where shopcartID=#{shopcartID}
	</delete>
	<update id="updateFun" parameterType="tblShopcart">
		update tbl_shopcart set goodCount=#{goodCount} where customerName=#{customerName} and goodsID=#{goodsID}
	</update>
	<select id="selectShopcartByGoodsID" parameterType="tblShopcart" resultType="tblShopcart">
		select * from tbl_shopcart where customerName=#{customerName} and goodsID=#{goodsID}
	</select>  
	<select id="selectShopcartCountByName" parameterType="String" resultType="int">
		select count(*) from tbl_shopcart where customerName=#{customerName}
	</select>
	<insert id="insertFun" parameterType="tblShopcart">
		insert into tbl_shopcart(customerName,goodsID,goodCount) values(#{customerName},#{goodsID},#{goodCount})
	</insert>
	<select id="selectAllByName" parameterType="String" resultType="tblShopcartQuery">
		select * from tbl_shopcart  ts, tbl_goods tg where ts.goodsID = tg.goodsID and customerName=#{customerName}
	</select>
	<select id="selectByShopcartIDFun" parameterType="int" resultType="tblShopcartQuery">
		select * from tbl_shopcart  ts, tbl_goods tg where ts.goodsID = tg.goodsID and shopcartID=#{shopcartID}
	</select>
	
</mapper>

